<div class="row">
  <div class="col-xs-12">
    <img [src]="event.imagePath"
     alt="{{event.name}}" 
     class="img-responsive"
     style="max-height:300px">
  </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button"
        class="btn btn-default dropdown-toggle">
        Manage Event <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <a style="cursor:pointer;"(click)="onEditEvent()"> Edit Event </a></li>
        <li> <a style="cursor:pointer;"(click)="onDeleteEvent()"> Delete Event </a></li>
      </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <h1> {{event.name}} </h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <a style="color:black">Waktu : </a>
      {{event.date}}
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <a style="color:black">Tempat : </a>
        {{event.place}}
      </div>
    </div>
    <hr>
<div class="row">
  <div class="col-xs-12">
    {{event.description}}
  </div>
</div>
<hr>
<hr>
