<div class="container">
<div class="col-md-12" style="text-align:center;">
  <div id="videoal">
    <video width="1000px" height="400" controls autoplay muted loop id="myVideo">
      <source src="../src/app/img/fost.mp4" type="video/mp4">
    </video>
  </div>
</div>
<br>
<div class="container">
  <h1 style="text-align:center; font-family: Ultras Liberi;">ALTO-FEST</h1>
  <p style="text-align:center;">ALTO-FEST adalah perusahaan yang menanungi event-event di Indonesia. Dengan menghadirkan band-band ternama di Indonesia. 
    Band-band ternama di Indonesia maupun Luar Negeri kami hadirkan untuk memeriahkan event-event besar di Indonesia. Bagi anda yang ingin menghadirkan 
    band untuk hadir di event anda, anda bisa menghubungi kami untuk saling berkerja sama. Kami telah berkerja sama dengan banyak Sponsor dan Media Partner
    yang telah lama membantu kami dalam mengadakan event-event besar di Indonesia.
  </p>
</div>
<br>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="src/app/img/band.jpg" alt="First Slide">
          <div class="caption">
            <h3 style="text-align:center">Band</h3>
            <p> Bagi kalian pecinta musik untuk mencari tahu informasi band favorite kalian, bisa mencari informasi di bawah ini. Informasi band-band ternama. </p>
            <p routerLink="active">
              <a routerLink="/band" class="btn btn-default" role="button" >Klik</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="src/app/img/band2.jpg" alt="Second Slide">
            <div class="caption">
              <h3 style="text-align:center">Event</h3>
              <p>Untuk anda yang ingin mengadakan sebuah event dan ingin menghadirkan band ternama, anda bisa hubungi kami. Berikut event kami terdekat dan daftarkan event anda sekarang juga.</p>
              <p routerLink="active">
                <a routerLink="/event" class="btn btn-default" role="button">Klik</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="src/app/img/band3.jpg" alt="Third Slide">
              <div class="caption">
                <h3 style="text-align:center">Support</h3>
                <p>Media Partner yang berkerja sama dengan event-event kami, cari informasinya di bawah ini. Untuk mencari tahu media partner yang berkerja sama dengan kami.</p>
                <p routerLink="active">
                  <a routerLink="/sponsor" class="btn btn-default" role="button">Klik</a>
                </p>
              </div>
            </div>
          </div>
    </div>
    </div> 
    <br>
    <br>
  </div>